<mat-form-field appearance="outline" class="w-[300px]">
  <mat-label>{{ label | translate }}</mat-label>
  <div class="relative flex justify-between items-center">
    <input [type]="passwordHidden ? 'password' : 'text'" [formControl]="control" matInput />
    <nma-icon-button
      class="absolute right-1 top-2"
      (clickEvent)="passwordHidden = !passwordHidden"
      [icon]="passwordHidden ? 'visibility_off' : 'visibility'"
      customTailwindClasses="relative bottom-2" />
  </div>
  <mat-hint *ngIf="!control.value && control.touched" class="text-red-600 drop-shadow-md">
    {{ 'FORM.NO_VALUE' | translate }}
  </mat-hint>
</mat-form-field>
