<div class="w-full h-18 flex justify-between py-4 px-8 bg-primary-50 dark:bg-stone-800 items-center">
  <p class="!m-0 text-lg text-white font-semibold">{{ label | translate }}</p>
  <!-- 
  <div class="flex gap-2 items-center">
    <nma-dark-mode-switch />
    <nma-language-menu />
    <button mat-raised-button (click)="onChangePassword()">{{ 'BUTTON.CHANGE_PASSWORD' | translate }}</button>
    <button mat-raised-button (click)="onLogOut()">{{ 'AUTH.LOG_OUT' | translate }}</button>
  </div> -->
  <nma-burger-menu />
</div>
