<nma-dialog-container
  (confirmClick)="onConfirmClick()"
  [confirmBtnDisabled]="formGroup.invalid"
  titleHeader="USERS.PASSWORD_CHANGE">
  <form content [formGroup]="formGroup">
    <p class="dark:text-white mb-4">
      {{ 'USERS.USER_NAME' | translate }}:
      <span class="font-semibold">{{ data.userName }}</span>
    </p>
    <nma-password-control label="USERS.ENTER_NEW_PASSWORD" [control]="formGroup.controls.newPassword" />
    <nma-checkbox-control label="USERS.ENFORCE_PASSWORD_CHANGE" [control]="formGroup.controls.enforceChange" />
  </form>
</nma-dialog-container>
