<ng-container *ngrxLet="callState as callState">
  <ng-container *ngIf="callState !== LoadingState.LOADING; else spinner">
    <ng-container *ngIf="callState === LoadingState.INIT || callState === LoadingState.LOADED; else error">
      <table *ngrxLet="data as items" class="w-full nma-table">
        <tr class="bg-slate-600 text-slate-100">
          <th *ngIf="config.noColumnDisplay" class="w-[60px] p-2 text-start">{{ 'TABLE.NO' | translate }}</th>
          <ng-container *ngFor="let column of config.columns">
            <th class="text-start p-2">{{ column | translate }}</th>
          </ng-container>
          <th *ngIf="config.editButton || config.deleteButton"></th>
        </tr>
        <tr *ngFor="let item of items; let index = index" class="hover:bg-slate-200 odd:bg-slate-100">
          <th *ngIf="config.noColumnDisplay" class="w-[60px] text-start p-2">{{ index + 1 }}.</th>
          <th class="text-start p-2">{{ item }}</th>
          <th *ngIf="config.editButton || config.deleteButton" class="text-end p-2">
            <button
              *ngIf="config.changePasswordButton"
              [matTooltip]="'BUTTON.CHANGE_PASSWORD' | translate"
              matTooltipPosition="above"
              (click)="onChangePasswordEvent(item)"
              mat-button>
              <mat-icon class="text-slate-600">vpn_key</mat-icon>
            </button>
            <button
              *ngIf="config.editButton"
              [matTooltip]="'BUTTON.EDIT' | translate"
              matTooltipPosition="above"
              (click)="onEditEvent(item)"
              mat-button>
              <mat-icon class="text-slate-600">edit</mat-icon>
            </button>
            <button
              *ngIf="config.deleteButton"
              [matTooltip]="'BUTTON.DELETE' | translate"
              matTooltipPosition="above"
              (click)="onDeleteEvent(item)"
              mat-button>
              <mat-icon class="text-slate-600">delete</mat-icon>
            </button>
          </th>
        </tr>
      </table>
    </ng-container>
  </ng-container>
</ng-container>

<ng-template #spinner>
  <div class="w-full flex p-4 items-center justify-center">
    <nma-spinner />
  </div>
</ng-template>

<ng-template #error>
  <div class="w-full flex p-4 items-center justify-center">
    <p>{{ 'TABLE.LOAD_DATA_ERROR' | translate }}</p>
  </div>
</ng-template>
