<button
  class="nma-button group"
  [type]="buttonType"
  [class.nma-button__primary]="buttonMode === 'confirm'"
  [class.nma-button__secondary]="buttonMode !== 'confirm'"
  [class.nma-button__disabled]="disabled"
  (click)="onClick()">
  <div [class.invisible]="loading" class="flex">
    <div *ngIf="icon" class="nma-button__icon">
      <mat-icon>{{ icon }}</mat-icon>
    </div>
    <span class="nma-button__text" [ngStyle]="{'margin-left': icon ? '0' : '1rem' }"> {{ text | translate }} </span>
  </div>
  <div *ngIf="loading" class="nma-button__loader">
    <nma-spinner />
  </div>
</button>
