<button
  class="nma-button group"
  [class.nma-button__primary]="buttonType === 'confirm'"
  [class.nma-button__secondary]="buttonType !== 'confirm'"
  [class.nma-button__disabled]="disabled"
  (click)="onClick()">
  <div [class.invisible]="loading" class="flex">
    <div *ngIf="buttonType === 'confirm'" class="nma-button__icon">
      <mat-icon>done</mat-icon>
    </div>
    <div *ngIf="buttonType === 'cancel'" class="nma-button__icon">
      <mat-icon>close</mat-icon>
    </div>
    <span class="nma-button__text" [ngStyle]="{'margin-left': buttonType === 'default' ? '1rem' : '0' }">
      {{ text | translate }}
    </span>
  </div>

  <div *ngIf="loading" class="absolute flex items-center justify-center scale-[20%]">
    <nma-spinner />
  </div>
</button>
