<nma-dialog-container
  *ngrxLet="componentStore.callState$ as callState"
  (onConfirmClick)="onConfirmClick()"
  [confirmBtnDisabled]="!formValid"
  [confirmBtnLoading]="callState === LoadingState.LOADING"
  title="USERS.PASSWORD_CHANGE">
  <form content [formGroup]="formGroup">
    <nma-password-control label="USERS.ENTER_OLD_PASSWORD" [control]="formGroup.controls.oldPassword" />
    <nma-password-control label="USERS.ENTER_NEW_PASSWORD" [control]="formGroup.controls.newPassword" />
    <nma-password-control label="AUTH.NEW_PASSWORD_REENTERED" [control]="formGroup.controls.reenterNewPassword" />

    <p
      [style.visibility]="
        formGroup.controls.newPassword.value === formGroup.controls.reenterNewPassword.value ? 'hidden' : 'visible'
      "
      class="text-red-600 !m-0">
      {{ 'AUTH.PASSWORDS_DONT_MATCH' | translate }}
    </p>
  </form>
</nma-dialog-container>
