<div class="w-[50px] h-full min-h-[100vh] bg-primary-900 dark:bg-stone-900 flex flex-col">
  <div class="w-[50px] h-16 bg-primary-900 dark:bg-stone-900"></div>
  <div
    class="w-[50px] h-[50px] flex items-center justify-center text-primary-100 hover:text-primary-400 hover:cursor-pointer first:mt-18"
    *ngFor="let link of links"
    [matTooltip]="link.label | translate"
    matTooltipClass="tooltip-style"
    matTooltipPosition="right"
    [routerLink]="link.url">
    <mat-icon class="text-white">{{ link.icon }}</mat-icon>
  </div>
</div>
