@use '@angular/material' as mat;
@import './colors';
@include mat.core();

$app-primary: mat-palette($nma-colors-primary);
$app-accent: mat-palette($nma-colors-accent);
$app-warn: mat-palette($nma-colors-warn);
$brand-light-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $app-primary,
      accent: $app-accent,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@include mat.all-component-themes($my-theme);
