<div
  class="bg-white border-stone-500 dark:bg-stone-800 dark:border-stone-700 border-solid border-[1px] rounded-md flex flex-col">
  <div *ngIf="titleHeader" class="flex items-center justify-between pt-6 pb-4 px-6 border-primary-100 dark:text-white">
    <p class="!m-0 text-lg font-semibold">{{ titleHeader | translate }}</p>
    <nma-icon-button icon="close" (clickEvent)="onDismiss()" />
  </div>

  <div class="px-6 pt-2 relative">
    <ng-content select="[content]"></ng-content>
  </div>

  <div class="flex gap-4 justify-center px-6 pb-6">
    <ng-container *ngIf="!customActionButtons">
      <nma-button
        [text]="customConfirmBtnName ? customConfirmBtnName : 'BUTTON.CONFIRM'"
        [loading]="confirmBtnLoading"
        buttonType="confirm"
        (clickEvent)="onConfirm()"
        [disabled]="confirmBtnDisabled" />
      <nma-button
        [text]="customCancelBtnName ? customCancelBtnName : 'BUTTON.CANCEL'"
        buttonType="cancel"
        (clickEvent)="onDismiss()" />
    </ng-container>

    <ng-container *ngIf="customActionButtons">
      <ng-content select="[buttons]"></ng-content>
    </ng-container>
  </div>
</div>

<ng-template #spinner>
  <nma-spinner class="block h-full scale-[0.2]" />
</ng-template>
