@use '@angular/material' as mat;
@import 'styles/colors.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@include mat.core();

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: (
        normal: $nma-colors-primary,
        light: $nma-colors-primary,
      ),
      accent: (
        normal: $nma-colors-accent,
        light: $nma-colors-accent,
      ),
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@include mat.all-component-themes($my-theme);

:root {
  --white: #fff;
  --green: #005f19;
  --red: #860000;
  --blue: #0056a7;
}

html {
  overflow-x: hidden;
  height: 100%;
  margin-right: calc(-1 * (100vw - 100%));

  input::-ms-reveal,
  input::-ms-clear {
    display: none;
  }
}

body {
  height: 100%;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-mdc-snack-bar-container {
  &.success-snackbar {
    --mdc-snackbar-container-color: var(--green);
    --mat-mdc-snack-bar-button-color: var(--white);
    --mdc-snackbar-supporting-text-color: var(--white);
  }

  &.error-snackbar {
    --mdc-snackbar-container-color: var(--red);
    --mat-mdc-snack-bar-button-color: var(--white);
    --mdc-snackbar-supporting-text-color: var(--white);
  }

  &.info-snackbar {
    --mdc-snackbar-container-color: var(--blue);
    --mat-mdc-snack-bar-button-color: var(--white);
    --mdc-snackbar-supporting-text-color: var(--white);
  }
}

.mat-mdc-snack-bar-container .mat-mdc-button.mat-mdc-snack-bar-action:not(:disabled) {
  color: var(--white) !important;
}

.cdk-global-scrollblock {
  overflow-y: hidden;
}
