@use '@angular/material' as mat;
@use 'styles/colors' as *;
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@include mat.core();

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette($nma-colors-primary),
      accent: mat.define-palette($nma-colors-accent),
      warn: mat.define-palette($nma-colors-warn),
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@include mat.all-component-themes($my-theme);

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette($nma-colors-dark-primary),
      accent: mat.define-palette($nma-colors-accent),
      warn: mat.define-palette($nma-colors-warn),
    ),
  )
);

.dark {
  @include mat.all-component-colors($dark-theme);
}

* {
  font-family: 'Raleway', sans-serif;
}

html {
  overflow-x: hidden;
  height: 100%;
  margin-right: calc(-1 * (100vw - 100%));

  input::-ms-reveal,
  input::-ms-clear {
    display: none;
  }
}

body {
  height: 100%;
  margin: 0;
  // font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-family: 'Raleway', sans-serif;
}

.mat-mdc-snack-bar-container {
  &.success-snackbar {
    --mdc-snackbar-container-color: #{$green};
    --mat-mdc-snack-bar-button-color: #{$white};
    --mdc-snackbar-supporting-text-color: #{$white};
  }

  &.error-snackbar {
    --mdc-snackbar-container-color: #{$red};
    --mat-mdc-snack-bar-button-color: #{$white};
    --mdc-snackbar-supporting-text-color: #{$white};
  }

  &.info-snackbar {
    --mdc-snackbar-container-color: #{$blue};
    --mat-mdc-snack-bar-button-color: #{$white};
    --mdc-snackbar-supporting-text-color: #{$white};
  }
}

.mat-mdc-snack-bar-container .mat-mdc-button.mat-mdc-snack-bar-action:not(:disabled) {
  color: #{$white} !important;
}

.cdk-global-scrollblock {
  overflow-y: hidden;
}

.mdc-notched-outline__notch {
  border-right: none;
}

.shadow {
  @apply shadow-[rgba(17,17,26,0.1)_0px_4px_16px,rgba(17,17,26,0.1)_0px_8px_24px,rgba(17,17,26,0.1)_0px_16px_56px];
}
