<nma-menu>
  <div class="flex justify-center pb-2 gap-2 border-b-[1px] border-solid">
    <div class="text-primary-400" [innerHTML]="userIcon | sanitizeHtml"></div>
    <span class="font-bold">{{ userName }}</span>
  </div>

  <div class="py-2 flex flex-col justify-center border-b-[1px] border-solid">
    <button mat-raised-button (click)="onChangePassword()" class="hover:font-semibold">
      {{ 'BUTTON.CHANGE_PASSWORD' | translate }}
    </button>
    <button mat-raised-button (click)="onLogOut()" class="hover:font-semibold">{{ 'AUTH.LOG_OUT' | translate }}</button>
  </div>

  <div class="flex justify-center items-center mt-2 gap-4">
    <nma-dark-mode-switch />
    <nma-language-menu />
  </div>
</nma-menu>
